## Build generated
build/
DerivedData/
.derivedData/
.deploy
*.xcarchive
.DS_Store

## Ignore project files as we generate them with xcodegen
*.xcodeproj
*.xcworkspace
*.pbxproj

Pods/

Tatsuflix/Generated/
